@media screen and (min-width: 768px) {
    .location-map {
        border-radius: 15px 0 0 15px;
    }

    .location-images {
        border-radius: 0 15px 15px 0;
    }
}

@media screen and (max-width: 767px) {
    .location-map {
        border-radius: 15px 15px 0 0; /* Sudut atas bulat saat ditumpuk */
    }

    .location-images {
        border-radius: 0 0 15px 15px; /* Sudut bawah bulat saat ditumpuk */
    }
}
    